<!DOCTYPE html>
<html>
    <%- include ./partials/header.ejs %>
  <body>
   <%- include ./partials/navbar.ejs %>

	 <ul class="nav nav-pills nav-stacked left-menu" id="stacked-menu">
	  <li>
	    <a href="#" data-target="#item1" data-toggle="collapse" data-parent="#stacked-menu">Menu<span class="caret arrow"></span></a>
	    <ul class="nav nav-stacked collapse left-submenu" id="item1">
	      <li><a href="/teamnews">Team News</a></li>
	      <li><a href="/fanzone">Fan Zone</a></li>
	      <li><a href="/gamezone">Game Zone</a></li>
	      <li><a href="/settings">Settings</a></li>
	    </ul>
	  </li>
	</ul>
	
	<div class="">
		<div class="tweet-box container">
			<div class="row user-row">
				<h3 class="pull-left">User Img</h3>
				<h3>User name</h3>
			</div>
			<div class="row user-tweet">
				<p>Lorem Ipsum...Lorem Ipsum...Lorem Ipsum...Lorem Ipsum...Lorem Ipsum...Lorem Ipsum...Lorem Ipsum...Lorem Ipsum...Lorem Ipsum...Lorem Ipsum...Lorem Ipsum...Lorem Ipsum...Lorem Ipsum...Lorem Ipsum...Lorem Ipsum...</p>
			</div>
			<div class="row user-retweet">
			<ul>
				<li>reply</li>
				<li>retweet</li>
				<li>favorite</li>
			</ul>
			</div>
		</div>
				<div class="tweet-box container">
			<div class="row user-row">
				<h3 class="pull-left">User Img</h3>
				<h3>User name</h3>
			</div>
			<div class="row user-tweet">
				<p>Lorem Ipsum...Lorem Ipsum...Lorem Ipsum...Lorem Ipsum...Lorem Ipsum...Lorem Ipsum...Lorem Ipsum...Lorem Ipsum...Lorem Ipsum...Lorem Ipsum...Lorem Ipsum...Lorem Ipsum...Lorem Ipsum...Lorem Ipsum...Lorem Ipsum...</p>
			</div>
			<div class="row user-retweet">
			<ul>
				<li>reply</li>
				<li>retweet</li>
				<li>favorite</li>
			</ul>
			</div>
		</div>
				<div class="tweet-box container">
			<div class="row user-row">
				<h3 class="pull-left">User Img</h3>
				<h3>User name</h3>
			</div>
			<div class="row user-tweet">
				<p>Lorem Ipsum...Lorem Ipsum...Lorem Ipsum...Lorem Ipsum...Lorem Ipsum...Lorem Ipsum...Lorem Ipsum...Lorem Ipsum...Lorem Ipsum...Lorem Ipsum...Lorem Ipsum...Lorem Ipsum...Lorem Ipsum...Lorem Ipsum...Lorem Ipsum...</p>
			</div>
			<div class="row user-retweet">
			<ul>
				<li>reply</li>
				<li>retweet</li>
				<li>favorite</li>
			</ul>
			</div>
		</div>
				<div class="tweet-box container">
			<div class="row user-row">
				<h3 class="pull-left">User Img</h3>
				<h3>User name</h3>
			</div>
			<div class="row user-tweet">
				<p>Lorem Ipsum...Lorem Ipsum...Lorem Ipsum...Lorem Ipsum...Lorem Ipsum...Lorem Ipsum...Lorem Ipsum...Lorem Ipsum...Lorem Ipsum...Lorem Ipsum...Lorem Ipsum...Lorem Ipsum...Lorem Ipsum...Lorem Ipsum...Lorem Ipsum...</p>
			</div>
			<div class="row user-retweet">
			<ul>
				<li>reply</li>
				<li>retweet</li>
				<li>favorite</li>
			</ul>
			</div>
		</div>
				<div class="tweet-box container">
			<div class="row user-row">
				<h3 class="pull-left">User Img</h3>
				<h3>User name</h3>
			</div>
			<div class="row user-tweet">
				<p>Lorem Ipsum...Lorem Ipsum...Lorem Ipsum...Lorem Ipsum...Lorem Ipsum...Lorem Ipsum...Lorem Ipsum...Lorem Ipsum...Lorem Ipsum...Lorem Ipsum...Lorem Ipsum...Lorem Ipsum...Lorem Ipsum...Lorem Ipsum...Lorem Ipsum...</p>
			</div>
			<div class="row user-retweet">
			<ul>
				<li>reply</li>
				<li>retweet</li>
				<li>favorite</li>
			</ul>
			</div>
		</div>
	</div>



    <%- include ./partials/footer.ejs %>

  </body>
</html>