<!DOCTYPE html>
<html>
    <%- include ./partials/header.ejs %>
  <body>
    <%- include ./partials/navbar.ejs %>
    <div class="jumbotron">
    <div class="row">
      <div class="col-sm-12">
        <h1>NFL Sunday Twitter</h1>
      </div> 
    </div>
      <div class="row">
        <div class="col-sm-6"><img src="./img/search.png" class="thumbnail" alt=""></div>
        <div class="col-sm-6"><p>Follow your favorite team like never before. See what your favorite players are tweeting about. Get in the action on game day and trash talk your face off.</p></div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <button type="button" class="btn btn-default">Signup</button>
        </div>
        <div class="col-sm-6">
          <button type="button" class="btn btn-default">SignIn</button>
        </div>
      </div>
    </div>

    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-6"><img src="./img/search.png" class="thumbnail" alt=""></div>
          <div class="col-md-6">Follow Your Team</div>
        </div>
        <div class="row">
        <div class="col-md-6">Follow the action by Game</div>
          <div class="col-md-6"><img src="./img/search.png" class="thumbnail" alt=""></div>
        </div>
        <div class="row">
        <div class="col-md-6"><img src="./img/search.png" class="thumbnail" alt=""></div>
        <div class="col-md-6">Get All the news!</div>
        </div>
      </div>
    </section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12"><h3>Become a super fan</h3></div>
    </div>
  </div>
</section>
    <%- include ./partials/footer.ejs %>

  </body>
</html>
